<!DOCTYPE html>
<!-- Scooter Website -->
<html>
    <head>
        <title>Scooters!</title>
        {% load staticfiles %}
        <link href="{% static 'styles.css' %}" type="text/css" rel="stylesheet" />
        <meta name="description" content="Philadelphia Scooters" />
    </head> 
    <body>
    <div class="container">
    <!--Header -->
    <header class="block"><h1>Philadelphia Scooters!!!!!</h1></header>
        <!-- SideBar -->
        <aside class="block">
            <td>
                <h2><a href="index.html">Philly Scooters</a></h2>
                <hr />
            </td>
            <td>
                <h3>Genuine Scooters</h3>
                <hr />
            </td>
            <td>
                <h3>Vespa</h3>
                <hr />
            </td>
            <td>
                <h3>Royal Enfield</h3>
                <hr />
            </td>
            <td>
                <h3>Sym</h3>
                <hr />
            </td>
            <td>
                <h3>Contact us</h3>
                <hr />
            </td>
        </aside>
        
        <!-- Main Content -->
        <article class="block">
            <p>
            There we go, the origins of Lorem ipsum trace back to ancient latin text from Cicero and have been already used for hundreds of years by book makers. To read "De Finibus et Malorum" by Cicero, and the translation in English (The Extremes of Good and Evil), click here

Many veteran designers remember Lorem Ipsum text being available from Letraset in various font types and sizes. In 'Old School' graphic design where designers would lay out their design with paper and pen (without computer), text was taken using the Letraset pads and inserted (rubbed) into place. Letraset is still in business though beaus there are a lot of model makers out there who rely on Letraset adhesive letters.

Probably the transformation of Lorem Ipsum text into a digital format can be credited to Aldus with their DTP software Pagemaker (which later become part of the Adobe product family) which had Lorem Ipsum text included inside the software.</p>
<p>
            There we go, the origins of Lorem ipsum trace back to ancient latin text from Cicero and have been already used for hundreds of years by book makers. To read "De Finibus et Malorum" by Cicero, and the translation in English (The Extremes of Good and Evil), click here

Many veteran designers remember Lorem Ipsum text being available from Letraset in various font types and sizes. In 'Old School' graphic design where designers would lay out their design with paper and pen (without computer), text was taken using the Letraset pads and inserted (rubbed) into place. Letraset is still in business though beaus there are a lot of model makers out there who rely on Letraset adhesive letters.

Probably the transformation of Lorem Ipsum text into a digital format can be credited to Aldus with their DTP software Pagemaker (which later become part of the Adobe product family) which had Lorem Ipsum text included inside the software.</p>
<p>
            There we go, the origins of Lorem ipsum trace back to ancient latin text from Cicero and have been already used for hundreds of years by book makers. To read "De Finibus et Malorum" by Cicero, and the translation in English (The Extremes of Good and Evil), click here

Many veteran designers remember Lorem Ipsum text being available from Letraset in various font types and sizes. In 'Old School' graphic design where designers would lay out their design with paper and pen (without computer), text was taken using the Letraset pads and inserted (rubbed) into place. Letraset is still in business though beaus there are a lot of model makers out there who rely on Letraset adhesive letters.

Probably the transformation of Lorem Ipsum text into a digital format can be credited to Aldus with their DTP software Pagemaker (which later become part of the Adobe product family) which had Lorem Ipsum text included inside the software.</p>
<p>
            There we go, the origins of Lorem ipsum trace back to ancient latin text from Cicero and have been already used for hundreds of years by book makers. To read "De Finibus et Malorum" by Cicero, and the translation in English (The Extremes of Good and Evil), click here

Many veteran designers remember Lorem Ipsum text being available from Letraset in various font types and sizes. In 'Old School' graphic design where designers would lay out their design with paper and pen (without computer), text was taken using the Letraset pads and inserted (rubbed) into place. Letraset is still in business though beaus there are a lot of model makers out there who rely on Letraset adhesive letters.

Probably the transformation of Lorem Ipsum text into a digital format can be credited to Aldus with their DTP software Pagemaker (which later become part of the Adobe product family) which had Lorem Ipsum text included inside the software.</p>
<p>
            There we go, the origins of Lorem ipsum trace back to ancient latin text from Cicero and have been already used for hundreds of years by book makers. To read "De Finibus et Malorum" by Cicero, and the translation in English (The Extremes of Good and Evil), click here

Many veteran designers remember Lorem Ipsum text being available from Letraset in various font types and sizes. In 'Old School' graphic design where designers would lay out their design with paper and pen (without computer), text was taken using the Letraset pads and inserted (rubbed) into place. Letraset is still in business though beaus there are a lot of model makers out there who rely on Letraset adhesive letters.

Probably the transformation of Lorem Ipsum text into a digital format can be credited to Aldus with their DTP software Pagemaker (which later become part of the Adobe product family) which had Lorem Ipsum text included inside the software.</p>
        </article>
        <footer class="block"><p>Developed by one Herp Z. Derp.</p></footer>
    </div> 
    </body>
</html>
